<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980849166941-9tg8rttsuk2l2gd62o0ptqi4v834o7su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980849166941-9tg8rttsuk2l2gd62o0ptqi4v834o7su</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>980849166941-0ss00fj74anb4vblb0r6habvo0hljvq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnzOEFB-e9tZ9vRqcAfD9U3VBoj-F3rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>980849166941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamstyrc.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-blog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980849166941:ios:b0b0045e5b20c14f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-blog.firebaseio.com</string>
</dict>
</plist>